.body{
    height: 86vh;
    width: 158vh;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .homeIconGradient{
      background-image:linear-gradient(to right,#D688FF,#B86FFF,#A35DFF);
      color: white;
      
  }
  .card{
    width: 300px;
    height: 100px;
    border: none;
  }
  